.speech-bubble-svg {
  position: absolute;
  bottom: 65%;
  left: 112px;
  overflow: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.speech-bubble {
  animation: fadeIn 0.3s ease-out forwards;
}

.speech-bubble-shape {
  fill: #ffffff;
  stroke: #000;
  stroke-width: 1px;
}

.speech-bubble-text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  fill: #000;
  user-select: none;
  pointer-events: none;
}
