.lamp {
  width: 7rem;
  display: inline-block;
  transform-origin: top center;
  transform: rotate(0);
  animation: lamp 2s cubic-bezier(0.22, 1, 0.36, 1);
  position: absolute;
  top: -70px;
}

.bulb {
  fill: #fbf8ca;
  fill-opacity: 0.1;
  transition:
    fill-opacity 0.5s ease,
    fill 0.5s ease;
}

.bulb-on {
  animation: bulb 0.3s 2s 5 cubic-bezier(0.26, 1.17, 0.89, -0.74) alternate
    forwards;
}

.bulb-off {
  fill-opacity: 0.1 !important;
  fill: #555 !important;
  animation: none;
}

@keyframes bulb {
  to {
    fill-opacity: 1;
    fill: #fbf8ca;
  }
}

@keyframes lamp {
  0% {
    transform: translateY(-250px) rotate(0deg) translateX(0);
    animation-timing-function: ease-in;
  }
  15% {
    transform: translateY(-180px) rotate(-3deg) translateX(0);
    animation-timing-function: ease-in;
  }
  30% {
    transform: translateY(-120px) rotate(4deg) translateX(0);
    animation-timing-function: ease-in;
  }
  45% {
    transform: translateY(-40px) rotate(-5deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: translateY(20px) rotate(3deg);
    animation-timing-function: var(--roll-curve);
  }
  75% {
    transform: translateY(-8px) rotate(3deg);
    animation-timing-function: var(--skid-curve);
  }
  90% {
    transform: translateY(10px) rotate(-3deg);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(10px) rotate(2deg);
    animation-timing-function: var(--skid-curve);
  }
  100% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: var(--roll-curve);
  }
}
